*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
}

/* Calculator Box */
.calculator {
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
}

/* Input Box */
input {
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #ffffff;
    outline: none;
}

input::placeholder{
     color: #ffffff;
}

/* Buttons */
button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: #ffffff;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
    cursor: pointer;
    transition: 0.2s;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

/* Hover effect */
button:hover {
    background: rgba(255,255,255,0.1);
}

/* Click effect */
button:active {
    transform: scale(0.9);
}

/* Remove focus outline */
button:focus {
    outline: none;
}

/* Equal button */
.equalBtn{
    background-color: #fb7c14;
    color: #fff;
}

/* Operator buttons */
.operator{
    color: #6dee0a;
    font-weight: bold;
}

/* Title */
p {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 50px;
  font-weight: bold;

  background-image: url("BACKGROUND.jpg");
  background-size: cover;
  background-position: center;

  -webkit-background-clip: text;
  background-clip: text;

  color: transparent;
  -webkit-text-fill-color: transparent;
  animation: moveBg 6s linear infinite;
}

/* Animation */
@keyframes moveBg {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}